extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | This website is created to help students to find new courses about technologies and up skill their career.
 | <br /><br />
 | get started with your learning journey.