extends layout
block content
  .row.banner
    .col-12
      h1 Course Management System

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Find Exciting Courses To Enhance Your Ability!

          .card.card-primary
            .card-block
              h2.card-title Course hours
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 8:00am - 5:00pm
              p.card-text Sunday : Quiz

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Personal Tutor
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Assignments
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Hands-on session

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.review Author Simon Holmes
                small.review Timestamp 16 February 2017
              .col-12
                p What a great course.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Charlie Chaplin
                small.reviewTimestamp 14 February 2017
              .col-12
                p It was okay. Course  wasn't great.

    .col-12.col-lg-3
      p.lead
        | Looking for course? "CMS" helps you find courses to work when out and about.Let CMS help you find the course you're looking for!
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.