extends layout

block content
  .row.banner
    .col-12
      h1 Course Management  System 
      small &nbsp;Find Exciting Courses To Enhance Your Ability!

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Java From Scratch
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100min
          p.tutor  Abdul Khaleel
          p.facilities
            span.badge.badge-warning Personal Tutor
            span.badge.badge-warning Assignments
            span.badge.badge-warning Hands-on session

    .col-12.col-md-4
      p.lead Looking for course? "CMS" helps you find courses to work when out and about.Let CMS help you find the course you're looking for!